####### CONFIG

SLAVE_NAME = "ql-slave"
SLAVE_PASS = "ql-pass"
SLAVE_PORT = 9989

WEB_UNAME = "%BB_WEB_UNAME%"
WEB_PSWD = "%BB_WEB_PSWD%"
WEB_PORT = 8010
WEB_URL = "http://quodlibet.duckdns.org:8010/"

IRC_SERVER = "%IRC_SERVER%"
IRC_CHAN = "%IRC_CHAN%"
IRC_NICK = "utahraptor"

####### INIT

BUILDER_NAME = "ql-builder"
PO_BUILDER_NAME = "ql-po-builder"

c = BuildmasterConfig = {}

####### BUILDSLAVES

from buildbot.buildslave import BuildSlave
c['slaves'] = [BuildSlave(SLAVE_NAME, SLAVE_PASS)]
c['slavePortnum'] = SLAVE_PORT

####### CHANGESOURCES

from buildbot.changes.hgpoller import HgPoller

c['change_source'] = []
c['change_source'].append(HgPoller(
        'https://code.google.com/p/quodlibet/',
        workdir='hgpoller-workdir', branch='default',
        pollinterval=300))

####### SCHEDULERS

from buildbot.schedulers.basic import SingleBranchScheduler
from buildbot.schedulers.forcesched import ForceScheduler
from buildbot.changes import filter

c['schedulers'] = []

c['schedulers'].append(SingleBranchScheduler(
                            name="all",
                            change_filter=filter.ChangeFilter(branch='default'),
                            treeStableTimer=None,
                            builderNames=[BUILDER_NAME, PO_BUILDER_NAME]))

c['schedulers'].append(ForceScheduler(
                            name="force",
                            builderNames=[BUILDER_NAME, PO_BUILDER_NAME]))

####### BUILDERS

from buildbot.process.factory import BuildFactory
from buildbot.steps.source.mercurial import Mercurial
from buildbot.steps.shell import ShellCommand
from buildbot.config import BuilderConfig

c['builders'] = []

# main tests

test_factory = BuildFactory()

test_factory.addStep(
    Mercurial(
        repourl='https://code.google.com/p/quodlibet/',
        mode='incremental',
        defaultBranch='default',
        branchType='inrepo',
        haltOnFailure=True
    )
)

test_factory.addStep(ShellCommand(command=["xvfb-run", "python", "quodlibet/setup.py", "test"]))

c['builders'].append(
    BuilderConfig(name=BUILDER_NAME,
      slavenames=[SLAVE_NAME],
      factory=test_factory))

# build po files

po_factory = BuildFactory()

po_factory.addStep(
    Mercurial(
        repourl='https://code.google.com/p/quodlibet/',
        mode='incremental',
        defaultBranch='default',
        branchType='inrepo',
        haltOnFailure=True
    )
)

po_factory.addStep(ShellCommand(command=["python", "quodlibet/setup.py", "build_mo"]))

c['builders'].append(
    BuilderConfig(name=PO_BUILDER_NAME,
      slavenames=[SLAVE_NAME],
      factory=po_factory))


####### STATUS TARGETS

from buildbot.status import html
from buildbot.status.web import authz, auth
from buildbot.status import words


c['status'] = []

authz_cfg = authz.Authz(
    auth=auth.BasicAuth([(WEB_UNAME, WEB_PSWD)]),
    gracefulShutdown = False,
    forceBuild = 'auth',
    forceAllBuilds = False,
    pingBuilder = False,
    stopBuild = False,
    stopAllBuilds = False,
    cancelPendingBuild = False,
)

c['status'].append(html.WebStatus(http_port=WEB_PORT, authz=authz_cfg))

c['status'].append(
    words.IRC(
        host=IRC_SERVER,
        nick=IRC_NICK,
        channels=[IRC_CHAN],
        notify_events={
            'exception': 1,
            'successToFailure': 1,
            'failureToSuccess': 1,
        }
    )
)

####### PROJECT IDENTITY

c['title'] = "Quod Libet"
c['titleURL'] = "http://code.google.com/p/quodlibet"
c['buildbotURL'] = WEB_URL

####### DB URL

c['db'] = {
    'db_url' : "sqlite:///state.sqlite",
}
