project:
  name: 'quodlibet'
  bot:
    name: '__marvin__'
    channel: '%IRC_CHAN%'
    server: '%IRC_SERVER%'
    port: 6667
  feeds:
    issues: 60
    downloads: 60
    wiki: 60
    code: 60
  issues:
    username: example@gmail.com
    password: example
  logging: True
  privignore:
  - ChanServ
  - jmhobbs
  vcs: hg
