$enable-responsive-font-sizes: true;

@import './node_modules/bootstrap/scss/bootstrap';

@include media-breakpoint-down(lg) {
    html {
        font-size: 0.9em;
    }

    .container {
        max-width: initial;
    }
}

@include media-breakpoint-down(sm) {
    html {
        font-size: 0.8em;
    }
}
