project:
  name: 'quodlibet'
  bot:
    name: 'marvin1234'
    channel: '#lazka'
    server: 'irc.freenode.org'
    port: 6667
  feeds:
    issues: 65
    code: 60
    downloads: 0
    wiki: 0
  logging: True
  vcs: hg

