{% extends "layout.html" %}
{% block content %}

<img src="http://quodlibet.googlecode.com/hg/quodlibet/quodlibet/images/hicolor/scalable/apps/quodlibet.svg" style="height:4em;float:left;margin:0.4em 0.4em 0 0">

<p>
This is the public server of the Quod Libet project. For any 
questions regarding this setup please contact
<a href="mailto:reiter.christoph@gmail.com">reiter.christoph@gmail.com</a>.
All the code is available on <a href="https://github.com/lazka/quodlibet-continuous">github</a>.
</p>

<p>The following services run locally, all others are external.</p>

<br>

<div class="list-group">
    <a class="list-group-item" href="{{ base }}/buildbot">Buildbot <span class="badge">{{ base }}/buildbot</span></a>
    <a class="list-group-item" href="{{ base }}/irc">IRC Logs <span class="badge">{{ base }}/irc</span></a>
</div>

<h4>Bug Tracker Updates</h4>

<br>

<ul class="list-group">
    <li class="list-group-item">
        <div id="divRss"></div>
    </li>
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        $('#divRss').FeedEk({
            FeedUrl:'https://code.google.com/feeds/p/quodlibet/issueupdates/basic',
            MaxCount: 10,
        });
    });
</script>

{% endblock %}
