{% extends "layout.html" %}
{% block content %}

<img src="{{ url_for('static', filename='quodlibet.svg') }}" style="height:4em;float:left;margin:0.4em 0.4em 0 0">

<p>
This is the public server of the Quod Libet project. For any 
questions regarding this setup please contact
<a href="mailto:reiter.christoph@gmail.com">reiter.christoph@gmail.com</a>.
All the code is available on <a href="https://github.com/lazka/quodlibet-continuous">github</a>.
</p>

<p>
IRC logs are deleted after 3 days.
</p>


{% endblock %}
