<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        {% if stylesheet %}
            <link rel="stylesheet" href="{{ stylesheet }}">
        {% endif %}

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>    
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </head>

  <body style="padding-top: 5rem;">

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='quodlibet.svg') }}" style="height:1em"> Quod Libet IRC Logs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li{% if active == "quodlibet" %} class="active"{% endif %}><a class="nav-link" href="/irc/quodlibet/latest.log.html#irc-end">#quodlibet</a></li>
            <li{% if active == "pypy" %} class="active"{% endif %}><a class="nav-link" href="/irc/pypy/latest.log.html#irc-end">#pypy</a></li>
            <li{% if active == "pygobject" %} class="active"{% endif %}><a class="nav-link" href="/irc/pygobject/latest.log.html#irc-end">#python@gnome</a></li>
            <li{% if active == "foo" %} class="active"{% endif %}><a class="nav-link" href="/irc/foo/latest.log.html#irc-end">#gtk+</a></li>
            <li{% if active == "bar" %} class="active"{% endif %}><a class="nav-link" href="/irc/bar/latest.log.html#irc-end">#gnome-hackers</a></li>
            <li><a class="nav-link" href="/msys2/irc/latest.log.html#irc-end">#msys2</a></li>
          </ul>
        </div>
      </nav>
    </header>

{% block outer %}

    <div class="container">
        <div class="card mb-3">
        <div class="card-body">
    {% block content %}
    {% endblock %}
        </div>
        </div>
    </div>
{% endblock %}

  </body>

</html>
